.nav-link{
    color: #f9f1f1;
    
}
.col-md-6 p{
    background-color: rgb(246, 243, 243);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}




.nav-link:hover {
    background-color: rgb(124, 121, 121);
}

.col-md-6 img{
    height: 100%;
    width: 100%;
}
.container-fluid .col-md-2 img{
    height: 40px;
    width: 40px;
    }
    .container-fluid .row .col-md-6{
        border:4px solid #f9f1f1;
        border-radius: 20px;
        padding: 20px;
    }